<!DOCTYPE HTML>
<html>
	<head>
		<title>Login - Perfume</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../resources/assets/css/main.css" />
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			{{template "Header" .URLLay}}
			{{template "Menu" .IsLogin}}
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<h2>Activity Create</h2>
					<section>
						<form method="post" action="/activity/store">
							<div class="row uniform">
								<div class="12u$">
									<input type="text" name="text_name" id="name" value="" placeholder="Activity Name" />
								</div>
                                <div class="12u$">
									<input type="text" name="text_description" id="description" value="" placeholder="Activity Description" />
								</div>
								<div class="12u$">
									<ul class="actions">
										<li><input type="submit" value="Create" class="special" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</div>
						</form>
					</section>
				</div>
			</div>
			{{template "Footer"}}
		</div>

		<script src="../resources/assets/js/jquery.min.js"></script>
		<script src="../resources/assets/js/skel.min.js"></script>
		<script src="../resources/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="../resources/assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="../resources/assets/js/main.js"></script>
	</body>
</html>