{{define "Footer"}}
<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="copyright">
            <li>Funny!!!</li>
            <li>Design: Tod Shen</li>
        </ul>
    </div>
</footer>
{{end}}