{{define "Header"}}
<!-- Header -->
<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="/" class="logo">
            <span class="symbol"><img src="resources/images/logo.svg" alt="" /></span><span class="title">Perfume</span>
        </a>
        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>
    </div>
</header>
{{end}}