<!DOCTYPE HTML>
<html>
	<head>
		<title>HompPage - Perfume</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="resources/assets/css/main.css" />
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">
			{{template "Header" .URLLay}}
			{{template "Menu" .IsLogin}}
			<!-- Main -->
			<div id="main">
				<div class="inner">
					<header>
						<h1>揪團囉<br/>
						<a href="/activity">左欺敵，右欺敵 ~ 我以火力 cover U</a></h1>
					</header>
				</div>
			</div>
			{{template "Footer"}}
		</div>

		<script src="resources/assets/js/jquery.min.js"></script>
		<script src="resources/assets/js/skel.min.js"></script>
		<script src="resources/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="resources/assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="resources/assets/js/main.js"></script>
	</body>
</html>